@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
<div class="page-loading-enabled page-loading">

    <!--begin::Page loader-->
    <div class="page-loader page-loader page-loader-logo">
        <img alt="Logo" class="max-h-75px" src="assets/media/logos/logo-letter-4.png" />
        <span class="mt-8 mb-0 text-center">@Body</span>
        <div class="spinner spinner-track spinner-primary spinner-lg"></div>
    </div>
    <!--end::Page Loader-->
    
</div>






@code
{
    
}





