@namespace Quests.Client.Pages
@inject NavigationManager NavigationManager


<li class="menu-item @(_active ? "menu-item-active" : "")" aria-haspopup="true">
    <a href=@Url class="menu-link">
        @ChildContent
      </a>
</li>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Url { get; set; }

    private bool _active;


    protected override void OnInitialized()
    {
        //if (Url == "/" || Url == "")
        //{
        //    _active = true;
        //}
        
        NavigationManager.LocationChanged += NavigationManagerOnLocationChanged;
    }

    private void NavigationManagerOnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        var active = false;


        //if (Url == "/" || Url == "")
        //{
        //    active = e.Location.Equals(NavigationManager.ToAbsoluteUri(Url).ToString());
        //}
        //else
        //{
        //    active = e.Location.Contains(Url);
        //}

        active = e.Location.Contains(Url);

        if (active != _active)
        {
            _active = active;
            StateHasChanged();
        }


    }

}