@namespace Quests.Client.Pages.Partials

<!--begin::Page loader-->
<div class="page-loader page-loader page-loader-logo">
    <img alt="Logo" class="max-h-75px" src="assets/media/logoX.png" />
    <span class="mt-8 mb-0 text-center">Загрузка...</span>
    <div class="spinner spinner-track spinner-primary spinner-lg"></div>
</div>

<!--end::Page Loader-->
@code {

}
