@page
@model ForgotPasswordConfirmation

<div class="login-container order-2 order-lg-1 d-flex flex-center flex-row-fluid px-7 pt-lg-0 pb-lg-0 pt-4 pb-6 bg-white">
    <!--begin::Wrapper-->
    <div class="login-content d-flex flex-column pt-lg-0 pt-12">

        
            <div class="pb-5 pb-lg-15">
                <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Пожалуйста, проверьте свою электронную почту, для сброса пароля.</h3>
                <a href="/" class="btn btn-primary">Войти</a>
            </div>
            
       
    </div>
    <!--end::Wrapper-->
</div>
