@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}
<div class="login-container order-2 order-lg-1 d-flex flex-center flex-row-fluid px-7 pt-lg-0 pb-lg-0 pt-4 pb-6 bg-white">
    <!--begin::Wrapper-->
    <div class="login-content d-flex flex-column pt-lg-0 pt-12">
        <h1>@ViewData["Title"]</h1>
        <p>
            Ваш пароль был сброшен. Пожалуйста <a asp-page="./Login">нажмите здесь, чтобы войти</a>.
        </p>
    </div>
    <!--end::Wrapper-->
</div>

